<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <style>
            .activatable-tile {
                color: black;
            }
            .activatable-tile:hover {
                background: green;
                color: azure;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <v-app id="inspire">
                <v-toolbar color="indigo" dark fixed app>
                    <v-toolbar-title>Solidity: {{compilerVersion}}</v-toolbar-title>
                </v-toolbar>
                <v-content>
                    <v-container fluid fill-height>
                        <v-layout justify-center align-content-end>
                            <v-flex xs12>
                                <v-textarea no-resize 
                                            auto-grow 
                                            outline 
                                            label="solidity:" 
                                            v-model="solidityCode"></v-textarea>
                                <error-boxes :compilation-errors="compilationErrors">
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-content>
                <v-bottom-sheet hide-overlay persistent v-model="compilationHasNoErrors">
                    <v-hover v-for="contract in compiledContracts">
                        <template slot-scope="{ hover }">
                            <v-list v-if="hover" dark>
                                <compilation-results :contract="contract"></compilation-results>
                            </v-list>
                            <v-list v-else>
                                <compilation-results :contract="contract"></compilation-results>
                            </v-list>                            
                        </template>
                    </v-hover>
                </v-bottom-sheet>
            </v-app>
        </div>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>          
        <script type="text/javascript" src="https://ethereum.github.io/solc-bin/bin/soljson-latest.js"></script>
        <script type="text/javascript" src="assets/js/wr.js"></script> 
        <script>
            var errorBoxesComponent = {
                template:`
                <v-container fluid grid-list-lg>
                    <v-layout row wrap>
                        <v-flex v-for="error in compilationErrors">
                            <v-card :color="error.severity === 'error' ? '#ff9e80' : '#e0e0e0'" hover elevation=10> 
                                <v-card-title primary-title>
                                    <div>
                                        <h3 class="headline mb-0">{{error | errorHeader}}</h3>
                                        <div v-for="(msg, i) in error.formattedMessage.split('\\n')">{{msg | errorBody(i)}}</div>
                                    </div>
                                </v-card-title>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>`,
                props: ["compilation-errors"]
            }
            var compilationResultsComponent = {
                template: `
                <div>
                    <v-list-tile    class="activatable-tile"
                                    key="abi{{contract.name}}" 
                                    @click="putToClipboard(contractAbi(contract))">    
                        <v-list-tile-action>
                            <v-icon color="pink">star</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>abi {{contract.name}}</v-list-tile-title>
                            <v-list-tile-sub-title>{{contract | contractAbi}}</v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile    class="activatable-tile"
                                    key="bytecode{{contract.name}}" 
                                    @click="putToClipboard(contractBytecode(contract))">
                        <v-list-tile-action>
                            <v-icon color="pink">star</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>bytecode {{contract.name}}</v-list-tile-title>
                            <v-list-tile-sub-title>{{contract | contractBytecode}}</v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </div>`,
                props: ['contract'],
                methods: {
                    putToClipboard(newClipboardContent) {
                        require("electron").ipcRenderer.send("put-to-clipboard", newClipboardContent);
                    },
                    contractBytecode(contract){
                        if (contract && 
                            contract.evm &&
                            contract.evm.bytecode && 
                            contract.evm.bytecode.object) {
                            return contract.evm.bytecode.object;
                        } else {
                            return "";
                        }
                    },
                    contractAbi(contract){            
                        if (contract && contract.abi) {
                            return JSON.stringify(contract.abi);
                        } else {
                            return "";
                        }
                    }
                }
            };
            Vue.filter("contractBytecode", function(contract){
                if (contract && 
                    contract.evm &&
                    contract.evm.bytecode && 
                    contract.evm.bytecode.object) {
                    return contract.evm.bytecode.object;
                } else {
                    return "";
                }
            });
            Vue.filter("contractAbi", function(contract){            
                if (contract && contract.abi) {
                    return JSON.stringify(contract.abi);
                } else {
                    return "";
                }
            });            
            Vue.filter("errorHeader", function(errorObj){
                var msg = errorObj.formattedMessage;
                return msg ? msg.split(":").slice(1, 4).join(":") : "";
            });     
            Vue.filter("errorBody", function(msg, line){
                if (line === 0) {
                    return  msg.replace(msg.split(":").slice(0, 4).join(":") + ":", "");
                } else {
                    return msg;
                }
            });                 
            new Vue({
                el:"#app", 
                components: {"compilation-results": compilationResultsComponent,
                            "error-boxes": errorBoxesComponent},
                watch: {
                    solidityCode: function(oldcode, newCode){
                        this.compile();
                    }
                },
                mounted() {
                    this.solc = wrapper(window.Module);
                    this.compile();
                },
                data: {
                    solc: undefined,
                    sheet: false,
                    compilationResult: undefined,
                    solidityCode: `pragma sollidity ^0.5.6;
                        contract HelloWorld {
                        function displayMessage() public view returns (string memory s) {
                            return "Whale hello thdere!";                            
                        }
                    }
                    contract NotHelloWorld {
                        function displayMessage() public view returns (string memory s) {
                            return "hello there!";                            
                        }
                    }`
                },
                computed: {
                    compilerVersion() {
                        if(this.solc) {
                            return this.solc.version();
                        } else {
                            return "";
                        }
                    },
                    compilationHasNoErrors () {
                        if (!this.compilationResult) { return false; }
                        if (this.compilationResult.errors && 
                            Array.isArray(this.compilationResult.errors) &&
                            this.compilationResult.errors.filter(err => err.severity === "error").length) { return false; }
                        return true;
                    },
                    compilationErrors () {
                        if (this.compilationResult) {
                            return this.compilationResult.errors;
                        }
                    },
                    compiledContracts() {
                        var res = this.compilationResult;
                        if (res && res.contracts && res.contracts[""]) {
                            var contracts = this.compilationResult.contracts[""];
                            return Object.keys(contracts).map(name => Object.assign({name}, contracts[name]));
                        } else {
                            return [];
                        }
                    },                                      
                    compiledContractBytecode() {
                        var res = this.compilationResult;
                        if (res && res.contracts && res.contracts[""]) {
                            var contracts = this.compilationResult.contracts[""];
                            var firstContractName = Object.keys(contracts)[0];
                            var compiledContract = contracts[firstContractName];
                            var bytecode = compiledContract.evm.bytecode.object;
                            return bytecode;
                        } else {
                            return "";
                        }
                    },
                    compiledContractAbi() {
                        var res = this.compilationResult;
                        if (res && res.contracts && res.contracts[""]) {
                            var contracts = this.compilationResult.contracts[""];
                            var firstContractName = Object.keys(contracts)[0];
                            var compiledContract = contracts[firstContractName];
                            var {abi} = compiledContract;
                            return JSON.stringify(abi);
                        } else {
                            return "";
                        }
                    }
                },
                methods: {
                    compile() {                        
                        const input = {
                            language: 'Solidity',
                            sources: { ['']: { content: this.solidityCode } },
                            settings: { outputSelection: { '*': { '*': ['*'] } } }
                        }
                        this.compilationResult = JSON.parse(this.solc.compile(JSON.stringify(input)));
                    }
                }
            });
        </script>
    </body>
</html>