<html>
    <head>
        <script src="../../assets/js/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h3>chosen:</h3>
            <ul>
                <li v-for="v in outputPrinter">{{v}}</li>
            </ul>
            <form>
                <fieldset>
                    <legend>What printers do you want to use?</legend>
                    <label v-for="val in printerVals">
                        <input type="checkbox" v-model="outputPrinter" :value="val">
                        {{val[0].toUpperCase() + val.slice(1) }}<br/>
                    </label>
                    <input type="submit" value="Print now" @click.prevent="printHandler"/>
                </fieldset>
            </form>
        </div>
        <script>
            new Vue({
                el:"#app",
                data: {
                    printerVals: ["monochrome", "plasma", "cloner"],
                    outputPrinter: []
                },
                methods: {
                    printHandler() {
                        if (this.outputPrinter.length) {
                            alert(this.outputPrinter.join(", ") + ".");
                        } else {
                            alert("nothing");
                        }
                    }
                }
            });
        </script>
    </body>    
</html>